.App {
  text-align: center;
}

#cardBody {
  background-color: black;
}

#cardTitle{
  height: 2vh;
}

#symbolTable{
  display:block;
  height: 30vh;
  overflow-y: auto;
}

#mainCard{
  display:block;
  height:40vh;
}

